<div class="presentation-container">
<h1> ¡Un poco sobre mi!</h1>
<p>Soy un Fullstack Developer con más de 4 años de experiencia, apasionado por la evolución tecnológica y el aprendizaje
  continuo. He trabajado con tecnologías como React.js, React Native, Angular, Ionic en el frontend, y Java, C#, .NET,
  PHP, Visual Basic en el backend, además de bases de datos SQL y control de versiones con Git. Mi enfoque está en
  garantizar calidad y escalabilidad aplicando principios SOLID, trabajando en entornos Microsoft DevOps y utilizando
  metodologías ágiles como SCRUM. Estoy interesado en explorar machine learning e inteligencia artificial para seguir
  creciendo profesionalmente y aportar soluciones innovadoras. Mi mantra es: "La evolución tecnológica es el motor del
  aprendizaje continuo."</p>
<p>Además de mi pasión por la programación, me fascina el mundo del gaming. Combino mis habilidades técnicas para crear
  aplicaciones que me permiten recopilar datos mientras disfruto de mis juegos. Esta integración no solo me permite
  optimizar mi experiencia en el gaming, sino que también busco fusionar este mundo con el deporte, explorando nuevas
  formas de análisis y rendimiento.</p>
</div>