.centered {
    position: fixed; /* Fija el navbar en la parte superior de la página */
    top: 0; /* Alinea el navbar al borde superior */
    left: 0;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    height: 115px;
    display: flex;
    align-items: flex-end;
    justify-content: center; /* Mantiene el navbar centrado */
    z-index: 10; /* Asegura que el navbar esté por encima del resto del contenido */
    padding: 10px 0; /* Añade un poco de espacio para que el contenido no esté pegado */
}

.app-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permite el scroll vertical cuando el contenido excede la altura */
}

.centered-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}