<div class="presentation-container">
  <div class="intro">
    <h3 class="greeting">Hola, soy</h3>
    <h1 class="name">Franco Motzo</h1>
    <p class="description">
      Soy un Fullstack Developer con más de 4 años de experiencia. <br/>
      ¡Me encanta tanto el backend como el frontend!
    </p>
  </div>
  <div class="social-links">
    <a href="https://github.com/MotzoFranco" target="_blank" class="social-icon">
      <i class="fab fa-github"></i> GitHub
    </a>
    <a href="https://www.linkedin.com/in/franco-motzo/" target="_blank" class="social-icon">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <button class="modern-button secondary">¡Hablemos!</button>
  </div>
  

</div>
